In [1]:
import numpy as np
import pandas as pd
from functools import reduce

In [2]:
FILE_PATH = 'united_states_covid19_cases_deaths_and_testing_by_state.csv'
covid_rates = pd.read_csv(FILE_PATH)
covid_rates = covid_rates[['State/Territory', 'Case Rate per 100000', 'Death Rate per 100000']]
covid_rates.columns = ['State', 'Case Rate per 100000', 'Death Rate per 100000']
covid_rates.head()

            State  Case Rate per 100000  Death Rate per 100000
0          Alaska                9254.0                   49.0
1         Alabama               11147.0                  228.0
2        Arkansas               11349.0                  193.0
3  American Samoa                   NaN                    NaN
4         Arizona               12148.0                  243.0

In [3]:
WIKI_URL1 = 'https://simple.wikipedia.org/wiki/List_of_U.S._states_by_population_density'
population_densities = pd.read_html(WIKI_URL1)
population_densities = population_densities[1]
population_densities = population_densities[['State/Territory/Division/Region', 'Population/sqmi']]
population_densities.columns = ['State', 'Pop/sqmi']
population_densities.head()

                  State  Pop/sqmi
0  District of Columbia   10588.8
1            New Jersey    1210.1
2           Puerto Rico    1055.9
3          Rhode Island    1017.1
4           Territories     991.0

In [4]:
WIKI_URL2 = 'https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_GDP_per_capita'
GDPs = pd.read_html(WIKI_URL2)
GDPs = GDPs[2]
GDPs = GDPs[['State or territory', '2019']]
GDPs.columns = ['State', 'GDP']
GDPs.head()

                  State     GDP
0  District of Columbia  200277
1              New York   90043
2         Massachusetts   86942
3           Connecticut   81055
4            California   80563

In [5]:
WIKI_URL3 = 'https://en.wikipedia.org/wiki/Political_party_strength_in_U.S._states'
politics = pd.read_html(WIKI_URL3)
politics = politics[4]
politics = politics[['State', '2020 presidentialelection']]
politics.columns = ['State', '2020 Election']
politics.head()

        State 2020 Election
0     Alabama    Republican
1      Alaska    Republican
2     Arizona    Democratic
3    Arkansas    Republican
4  California    Democratic

In [6]:
data_frames = [politics, population_densities, GDPs, covid_rates]

In [9]:
df = reduce(lambda  left,right: pd.merge(left, right, on=['State'], how='outer'), data_frames)
df = df.dropna()
df

,State,2020 Election,Pop/sqmi,GDP,Case Rate per 100000,Death Rate per 100000
0,Alabama,Republican,95.4,47735,11147.0,228.0
1,Alaska,Republican,1.3,76220,9254.0,49.0
2,Arizona,Democratic,58.3,51179,12148.0,243.0
3,Arkansas,Republican,56.9,44808,11349.0,193.0
4,California,Democratic,246.1,80563,9341.0,158.0
5,Colorado,Democratic,50.8,68828,9502.0,115.0
6,Connecticut,Democratic,742.6,81055,9763.0,231.0
7,Delaware,Democratic,475.1,78468,11211.0,172.0
8,Florida,Republican,364.6,51745,10687.0,173.0
9,Georgia,Democratic,173.7,58896,10609.0,197.0
10,Hawaii,Democratic,218.6,69593,2500.0,35.0
11,Idaho,Republican,19.5,46043,10802.0,117.0
12,Illinois,Democratic,232.0,71727,10934.0,200.0
13,Indiana,Republican,183.4,56702,11097.0,203.0
14,Iowa,Republican,55.3,62493,11793.0,192.0
15,Kansas,Republican,35.4,60310,10816.0,175.0
16,Kentucky,Republican,111.3,48697,10308.0,158.0
17,Louisiana,Republican,107.1,57445,10191.0,228.0
18,Maine,Democratic/ Republican (2nd District),43.1,50915,5083.0,62.0
19,Maryland,Democratic,610.8,71838,7621.0,159.0
20,Massachusetts,Democratic,858.0,86942,10275.0,259.0
21,Michigan,Democratic,175.0,54928,9967.0,206.0
22,Minnesota,Democratic,68.1,68427,10690.0,134.0
23,Mississippi,Republican,63.7,40464,10704.0,246.0
24,Missouri,Republican,87.9,54879,9826.0,149.0
25,Montana,Republican,7.0,49540,10515.0,152.0
26,Nebraska,Republican/ Democratic (2nd District),24.3,66737,11564.0,116.0
27,Nevada,Democratic,25.4,58570,10584.0,182.0
28,New Hampshire,Democratic,147.8,66069,7277.0,99.0
29,New Jersey,Democratic,1210.1,73451,11462.0,295.0
30,New Mexico,Democratic,17.2,50022,9714.0,204.0
31,New York,Democratic,417.0,90043,10434.0,179.0
32,North Carolina,Republican,202.6,56862,9592.0,125.0
33,North Dakota,Republican,10.5,75321,14468.0,198.0
34,Ohio,Republican,283.2,60464,9452.0,170.0
35,Oklahoma,Republican,56.1,52409,11473.0,185.0
36,Oregon,Democratic,40.9,60558,4822.0,63.0
37,Pennsylvania,Democratic,285.5,64412,9420.0,213.0
38,Rhode Island,Democratic,1017.1,60830,14355.0,256.0
39,South Carolina,Republican,158.8,48547,11550.0,189.0
40,South Dakota,Republican,11.1,61104,14048.0,228.0
41,Tennessee,Republican,157.5,56451,12654.0,182.0
42,Texas,Republican,101.2,66149,10187.0,174.0
43,Utah,Republican,35.3,59892,12721.0,72.0
44,Vermont,Democratic,68.0,56525,3891.0,41.0
45,Virginia,Democratic,209.2,65824,7932.0,131.0
46,Washington,Democratic,104.9,80170,5790.0,76.0
47,West Virginia,Republican,77.1,43806,9070.0,157.0
48,Wisconsin,Democratic,106.0,60425,11601.0,136.0
49,Wyoming,Republican,6.0,68757,10501.0,124.0