In [1]:
import numpy as np
import pandas as pd

In [2]:
FILE_PATH = 'united_states_covid19_cases_deaths_and_testing_by_state.csv'
covid_rates = pd.read_csv(FILE_PATH)
covid_rates

,State/Territory,Total Cases,Confirmed Cases,Probable Cases,Cases in Last 7 Days,Case Rate per 100000,Total Deaths,Confirmed Deaths,Probable Deaths,Deaths in Last 7 Days,...,% Positive Last 30 Days,% Positive Last 7 Days,# Tests per 100K,Total # Tests,# Tests per 100K Last 7 Days,Total # Tests Last 7 Days,# Tests per 100K Last 30 Days,Total # Tests Last 30 Days,New Cases,New Deaths
0,Alaska,67698.0,0.0,0.0,217.0,9254.0,362.0,NaN,NaN,0.0,...,< 3%,< 3%,330735.77,2419481.0,3623.56,26508.0,19976.76,146139.0,18.0,0.0
1,Alabama,546537.0,419873.0,126664.0,751.0,11147.0,11218.0,8844.0,2374.0,5.0,...,5-7.9%,5-7.9%,94274.07,4622432.0,587.86,28824.0,3314.85,162533.0,75.0,1.0
2,Arkansas,342495.0,0.0,0.0,1114.0,11349.0,5849.0,NaN,NaN,16.0,...,3-4.9%,3-4.9%,91857.29,2772073.0,348.00,10502.0,1659.42,50078.0,62.0,3.0
3,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arizona,884195.0,817536.0,66659.0,2745.0,12148.0,17700.0,15752.0,1948.0,72.0,...,5-7.9%,3-4.9%,107666.32,7836727.0,966.52,70350.0,5089.37,370441.0,374.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Washington,440889.0,0.0,0.0,4214.0,5790.0,5856.0,NaN,NaN,91.0,...,3-4.9%,3-4.9%,77664.89,5914098.0,1289.79,98216.0,7535.12,573791.0,366.0,20.0
57,Wisconsin,675448.0,611000.0,64448.0,1028.0,11601.0,7965.0,7161.0,804.0,109.0,...,3-4.9%,< 3%,163396.12,9513631.0,1145.57,66700.0,7179.11,417999.0,102.0,11.0
58,West Virginia,162540.0,127011.0,35529.0,827.0,9070.0,2821.0,NaN,NaN,29.0,...,5-7.9%,5-7.9%,154915.92,2776321.0,1139.58,20423.0,6947.20,124504.0,104.0,8.0
59,Wyoming,60773.0,51168.0,9605.0,467.0,10501.0,720.0,720.0,0.0,1.0,...,5-7.9%,5-7.9%,136674.85,791018.0,1064.52,6161.0,5234.99,30298.0,51.0,0.0
60,United States of America,33207488.0,15284582.0,2469607.0,93737.0,10002.0,595301.0,297802.0,35155.0,2599.0,...,3-4.9%,< 3%,135524.58,449948356.0,1334.21,4429635.0,8122.58,26967372.0,8462.0,439.0

In [3]:
covid_rates.columns

Index(['State/Territory', 'Total Cases', 'Confirmed Cases', 'Probable Cases',
       'Cases in Last 7 Days', 'Case Rate per 100000', 'Total Deaths',
       'Confirmed Deaths', 'Probable Deaths', 'Deaths in Last 7 Days',
       'Death Rate per 100000', '7-Day Cases Rate per 100000',
       '7-Day Death Rate per 100000', 'Total % Positive',
       '% Positive Last 30 Days', '% Positive Last 7 Days', '# Tests per 100K',
       'Total # Tests', '# Tests per 100K Last 7 Days',
       'Total # Tests Last 7 Days', '# Tests per 100K Last 30 Days',
       'Total # Tests Last 30 Days', 'New Cases', 'New Deaths'],
      dtype='object')

In [4]:
WIKI_URL = 'https://simple.wikipedia.org/wiki/List_of_U.S._states_by_population_density'
population_densities = pd.read_html(WIKI_URL)
population_densities = population_densities[1]
population_densities.columns = ['Rank', 'State/Territory', 'Population/sqmi', 'Population/sqkm', 'Geographic region']
population_densities

,Rank,State/Territory,Population/sqmi,Population/sqkm,Geographic region
0,--,District of Columbia,10588.8,4088.4,SAtl
1,1,New Jersey,1210.1,467.2,MdAtl
2,1,Puerto Rico,1055.9,407.7,Terr.
3,2,Rhode Island,1017.1,392.7,NEng
4,--,Territories,991.0,382.6,USA
...,...,...,...,...,...
66,46,South Dakota,11.1,4.3,WNC
67,47,North Dakota,10.5,4.0,WNC
68,48,Montana,7.0,2.7,Mtn
69,49,Wyoming,6.0,2.3,Mtn
70,50,Alaska,1.3,0.5,Pac

In [5]:
df = covid_rates.merge(population_densities, how='left', on='State/Territory')
df = df.dropna()
df = df[['State/Territory', 'Case Rate per 100000', 'Death Rate per 100000', 'Population/sqmi']]
df

,State/Territory,Case Rate per 100000,Death Rate per 100000,Population/sqmi
1,Alabama,11147.0,228.0,95.4
4,Arizona,12148.0,243.0,58.3
6,Colorado,9502.0,115.0,50.8
7,Connecticut,9763.0,231.0,742.6
9,Delaware,11211.0,172.0,475.1
12,Georgia,10609.0,197.0,173.7
16,Idaho,10802.0,117.0,19.5
17,Illinois,10934.0,200.0,232.0
18,Indiana,11097.0,203.0,183.4
20,Kentucky,10308.0,158.0,111.3
21,Louisiana,10191.0,228.0,107.1
22,Massachusetts,10275.0,259.0,858.0
23,Maryland,7621.0,159.0,610.8
24,Maine,5083.0,62.0,43.1
25,Michigan,9967.0,206.0,175.0
26,Minnesota,10690.0,134.0,68.1
29,Mississippi,10704.0,246.0,63.7
30,Montana,10515.0,152.0,7.0
31,North Carolina,9592.0,125.0,202.6
35,New Jersey,11462.0,295.0,1210.1
40,Ohio,9452.0,170.0,283.2
41,Oklahoma,11473.0,185.0,56.1
42,Oregon,4822.0,63.0,40.9
44,Puerto Rico,4356.0,78.0,1055.9
49,South Dakota,14048.0,228.0,11.1
50,Tennessee,12654.0,182.0,157.5
52,Utah,12721.0,72.0,35.3
53,Virginia,7932.0,131.0,209.2
57,Wisconsin,11601.0,136.0,106.0
59,Wyoming,10501.0,124.0,6.0